.content-form{
    display: flex;
    flex-direction: row;
    button{
        border-radius: 14px;
    }
}
.main-account{
    display: flex;
    margin: 12px;
    float: right;
    span{
        button{
            background-color: transparent;
            border: none;
            color: white;
        }
        button:hover{
            background-color: transparent;
            border: none;
            color: white;
        }
    }
}
.music-player{
    display: flex;
}