#mainLayoutPane {
  background-color: #1f2d40;
}

#mainDiv {
  background-color: #1f2d40;
}

.CodeMirror { 
  text-align: left; 
  height: auto !important;
}

.center {
  text-align: center;
}

.logo {
  background-image: url("#{resource['images/icon.png']}") !important;
  width: 26px;
  height: 26px;
  background-position: 0 0;
}
.logoButton{
  background: transparent !important;
  border: none !important;
  margin: 0;
}
