#mainLayoutPane {
  background-color: #1f2d40;
}

#mainDiv {
  background-color: #1f2d40;
}

.main-player{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.music-player-grid {
  /* Ajusta el estilo de la cuadrícula del reproductor de música aquí */
}

.album-image {
  /* Ajusta el estilo de la imagen del álbum aquí */
  height: 50px;
}

.control-panel {
  /* Ajusta el estilo del panel de control aquí */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  column-gap: 24px;
}

.timeline-slider {
  /* Ajusta el estilo del deslizador de la línea de tiempo aquí */
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.volume-slider {
  /* Ajusta el estilo del deslizador de volumen aquí */
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.song-data{
    /* Ajusta el estilo de los datos de la canción aquí */

}
